body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

h1 {
  color: darkblue;
}

h2 {
  color: darkgreen;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

img {
  margin: 10px;
  width: 200px;
  height: auto;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}